<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>758072467979-r5vc26lunrhrm2nh2b92mpckniibbei4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758072467979-r5vc26lunrhrm2nh2b92mpckniibbei4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHnBWadUf355OMRru4t6_S0A19ifmmRFw</string>
	<key>GCM_SENDER_ID</key>
	<string>758072467979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webber.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e5568</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e5568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758072467979:ios:c562216543564d0a</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-e5568.firebaseio.com</string>
</dict>
</plist>